<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1 Style="text-align: center">Home</h1>
            <p>Esta es la primer página del curso Web y patrones...</p>
        </div>
        <p style="text-align: left">Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam at quisque scelerisque nam facilisis, auctor curae ad ultrices commodo sagittis turpis porttitor tortor potenti suscipit. Semper eu malesuada cubilia magna scelerisque inceptos felis bibendum, faucibus nisi neque aenean aliquam lectus. Dictumst posuere cubilia ultrices malesuada dapibus penatibus lacinia quam, fermentum primis natoque turpis conubia etiam phasellus, auctor felis placerat ullamcorper sagittis egestas congue. Sodales cras morbi imperdiet egestas faucibus lectus tincidunt nunc taciti aliquet, per etiam nostra donec id leo placerat auctor ultricies mollis, nec dictum dui sem eu laoreet facilisi tempus cursus.</p>
        <p style="text-align: right">Lacinia tempor senectus odio consequat magna quam suspendisse potenti purus nunc, commodo est metus scelerisque dapibus ultrices at sollicitudin nascetur ullamcorper, dictum primis luctus hendrerit sociosqu natoque placerat netus gravida. Parturient proin tempor diam ut venenatis facilisi, varius eros sodales imperdiet vivamus cubilia eu, odio faucibus metus pellentesque dis. Sagittis metus nec euismod vehicula massa venenatis nascetur tempus auctor ullamcorper in, molestie netus montes cras turpis pulvinar hendrerit nulla tincidunt lacinia.</p>
        <br>
        <br>
        <p>última línea</p>
    </body>
</html>
